<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.pattonvillecs.pattonvilleapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name=".view.ui.PattonvilleApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/app_backup_rules"
        android:icon="@mipmap/psd_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/PSD">

        <provider
            android:name=".calendar.pinned.PinnedEventsContentProvider"
            android:authorities="${applicationId}.calendar.pinned"
            android:exported="false" />

        <activity
            android:name=".view.ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/PSD.NoActionBar.SplashScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*.psdr3.org"
                    android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.powerschool.portal" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <activity
            android:name=".intro.PattonvilleAppIntro"
            android:label="@string/app_intro"
            android:theme="@style/PSD.PreferenceFixTheme.NoActionBar" />

        <activity
            android:name=".preferences.SettingsActivity"
            android:parentActivityName=".view.ui.MainActivity"
            android:theme="@style/PSD" />

        <activity
            android:name="org.pattonvillecs.pattonvilleapp.view.ui.calendar.details.CalendarEventDetailsActivity"
            android:label="@string/title_activity_calendar_event_details"
            android:parentActivityName=".view.ui.MainActivity"
            android:theme="@style/PSD">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.pattonvillecs.pattonvilleapp.view.ui.MainActivity" />
        </activity>

        <activity
            android:name=".view.ui.news.NewsDetailActivity"
            android:parentActivityName=".view.ui.MainActivity"
            android:theme="@style/PSD.NoActionBar" />

        <activity
            android:name=".view.ui.directory.detail.all.AllDataSourcesDirectoryDetailActivity"
            android:parentActivityName=".view.ui.MainActivity" />

        <activity
            android:name=".view.ui.directory.detail.single.SingleDataSourceDirectoryDetailActivity"
            android:parentActivityName=".view.ui.MainActivity" />

        <service
            android:name=".firebase.FBNotificationsService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".firebase.FBInstanceIDService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".view.ui.links.PowerschoolActivity"
            android:parentActivityName=".view.ui.MainActivity" />

        <activity
            android:name=".view.ui.links.SchoolListActivity"
            android:parentActivityName=".view.ui.MainActivity" />

        <activity
            android:name=".view.ui.directory.detail.CallExtensionActivity"
            android:theme="@style/PSD.NoActionBar.Invisible" />

        <activity
            android:name=".view.ui.about.AboutActivity"
            android:parentActivityName=".view.ui.MainActivity" />

        <activity
            android:name=".view.ui.about.detail.AboutDetailActivity"
            android:parentActivityName=".view.ui.about.AboutActivity" />

        <activity
            android:name=".view.ui.about.secret.SecretActivity"
            android:parentActivityName=".view.ui.about.AboutActivity" />

        <activity
            android:name=".view.ui.about.secret.SecretShopActivity"
            android:parentActivityName=".view.ui.about.secret.SecretActivity" />

        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/FinestWebViewTheme.Fullscreen" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification_icon" />

        <service
            android:name="org.pattonvillecs.pattonvilleapp.service.repository.calendar.CalendarSyncJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <service
            android:name="org.pattonvillecs.pattonvilleapp.service.repository.directory.DirectorySyncJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <service
            android:name="org.pattonvillecs.pattonvilleapp.service.repository.news.NewsSyncJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

    </application>

</manifest>