<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pattonvillecs.pattonvilleapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PattonvilleApplication"
        android:allowBackup="true"
        android:icon="@drawable/psd_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/PSD">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/PSD.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.powerschool.portal" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PattonvilleAppIntro"
            android:label="@string/app_intro"
            android:theme="@style/PSD.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/PSD" />
        <activity
            android:name=".fragments.calendar.CalendarEventDetailsActivity"
            android:label="@string/title_activity_calendar_event_details"
            android:parentActivityName=".MainActivity"
            android:theme="@style/PSD">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.pattonvillecs.pattonvilleapp.MainActivity" />
        </activity>
        <activity
            android:name=".fragments.news.NewsDetailActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/PSD.NoActionBar" />
        <activity
            android:name=".FeedbackActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NotificationsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".fragments.directory.DirectoryDetailActivity"
            android:parentActivityName=".MainActivity" />

        <service android:name=".FBNotificationsService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FBInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".PeachjarActivity"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>